<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8">
		<title>Crypto Agent Bot: CAB - Crypto Agent Bot CAB Review: Cryptocurrency Trade Signals Group Telegram
		</title>
		<meta name="author" content>
		<meta name="description" content>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="images/x-icon" href="{% static 'img/Logo-little-spoon.png' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>
		<header class="main-header">
			<div class="flex-container">
				<nav class="main-menu">
					<ul class="main-menu__list">
						<li class="main-menu__item"><a class="main-menu__link" href="/">news</a></li>
						<li class="main-menu__item"><a class="main-menu__link" href="{% url 'mainPage:about' %}">About Us</a></li>
					</ul>
				</nav>
				<nav class="locale-wrapper">
					<ul class="locale__list">
						<li class="locale__item"><a class="locale__link" id="ru" title="Russian"><img class="locale__img" src="{% static 'img/locale/russian.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="en" title="English"><img class="locale__img" src="{% static 'img/locale/english.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="gb" title="German"><img class="locale__img" src="{% static 'img/locale/german.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="fr" title="French"><img class="locale__img" src="{% static 'img/locale/french.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="tur" title="Turkish"><img class="locale__img" src="{% static 'img/locale/turkish.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="po" title="Poland"><img class="locale__img" src="{% static 'img/locale/poland.png' %}"></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="maincontent">
			<div class="container">
				<section class="first-section">
					<h2 class="first-section__heading" data-localize="fs.heading1">Если вы уже знаете, что такое Bitcoin и вы слышали о других криптовалютах, можете сразу перейти к презентации нашей команды. Если вы не знаете, что такое Bitcoin, уделите нам пару минут и посмотрите, почему Bitcoin (или иная криптовалюта) в ближайшие годы станет лидером финансового мира.</h2><a class="telegram__link" href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link">Присоединитесь к нам уже сегодня</a>
					<iframe class="first-section__video" src="https://www.youtube.com/embed/wrdjlX0Cx0Q" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
					<p class="text" data-localize="fs.text1">Мы являемся международной группой аналитиков и трейдеров, действующих на рынке криптовалют уже многие годы. У нас большой опыт и мы добиваемся очень хороших результатов в этой быстро развивающейся экономической системе.Мы хотели бы поделиться с Вами нашими блестящими знаниями и пригласить вас к совместному бизнесу на высокоприбыльном рынке.</p><a class="telegram__link" href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link">Присоединитесь к нам уже сегодня</a>
				</section>
				<section class="second-section">
					<h2 class="heading" data-localize="ss.heading1">Благодаря нам Вы получите:</h2>
					<ol class="second-section__list">
						<li class="second-section__item"><span class="text" data-localize="ss.text1">Стабильную ежегодную прибыль по инвестициям и финансовую прибыль на рынке криптовалют.</span></li>
						<li class="second-section__item"><span class="text" data-localize="ss.text2">Самую последнюю информацию о рынке криптовалют.</span></li>
						<li class="second-section__item"><span class="text" data-localize="ss.text3">Настоящий рост ваших финансовых ресурсов, и тем самым, вашего капитала.</span></li>
						<li class="second-section__item"><span class="text" data-localize="ss.text4">Единственное, в чем вы нуждаетесь, чтобы получать регулярную прибыль на рынке криптовалют – это сигналы и точки входа и выхода в конкретные криптовалюты.</span></li>
						<li class="second-section__item"><span class="text" data-localize="ss.text5">Мы сотрудничаем с двумя крупнейшими, международными онлайн-системами обмена валют (Bittrex, Poloniex).</span></li>
						<li class="second-section__item"><span class="text" data-localize="ss.text6">Стабильную ежегодную прибыль по инвестициям и финансовую прибыль на рынке криптовалют.</span></li>
					</ol>
					<h2 class="heading" data-localize="ss.heading2">Что вы получите от команды благодаря Crypto Agent Bot (CAB)?</h2>
					<p class="text" data-localize="ss.text7">Мы научим вас, как завоевать рынок криптовалют, благодаря чему вы не будете беспокоиться о том, что у вас нет опыта в этой области.• Мы займемся всеми техническими и аналитическими вопросами, поскольку у нас работают профессионалы и мы целенаправлены, о чем вы скоро убедитесь.</p>
					<p class="text" data-localize="ss.text8">Вместе с нами вы достигнете финансовой независимости. Ежедневные (кратко-, средне- и долгосрочные) сигналы по криптовалюте. У вас будет доступ к уникальному и очень привлекательному плану вознаграждений для рекомендательной системы и вы заработаете приблизительно 60% к 10 уровням от всех привлеченных вами в программу участников. Вы можете это рассматривать как источник дополнительного дохода. Лучшие партнеры зарабатывают даже несколько десяток BTC в месяц, только привлекая других участников. Даже несколько раз в день вы получите информацию о самой перспективной криптовалюте с целью инвестировать с хорошей перспективой развития. Поддержка в создании инвестиционного портфолио</p><a class="telegram__link" href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link">Присоединитесь к нам уже сегодня</a>
				</section>
				<section class="third-section">
					<p class="text" data-localize="ts.text1">Мы являемся продвинутой инвестиционной группой и обеспечиваем высококачественные услуги на рынке криптовалют. Мы будем участвовать в этом рынке до тех пор, пока он будет существовать.</p>
					<p class="text" data-localize="ts.text2">Сперва вы инвестируете в себя, потому что мы не возьмем с вас денег, чтобы ими управлять!</p>
					<p class="text" data-localize="ts.text3">У вас будет полный контроль над управлением собственным счетом и ростом вашего портфолио.</p>
					<p class="text" data-localize="ts.text4">Если вы хотите воспользоваться нашими уникальными услугами, выберите один из пакетов!</p>
					<p class="text" data-localize="ts.text5">В связи с динамическим ростом ценности системы Bitcoin в последнее время вышеуказанные цены понизились!</p><img class="img third-section__img" src="{% static 'img/cab-price-ru.jpeg' %}">
				</section>
				<section class="fourth-section">
					<p class="text" data-localize="frs.text1">Мы считаемся пионерами на рынке криптовалют. Мы хотим, чтобы больше людей присоединилось к технологиям Bitcoin, Altcoins (криптовалют) и Blockchain. Это большой потенциал, который вам нельзя игнорировать. В связи с возрастающей популярностью Crypto Agent Bot, мы решили вознаграждать тех пользователей, которые привлекают других участников! Это система 3x win</p>
					<p class="text" data-localize="frs.text2">Вы зарабатываете, рекомендуя замечательный продукт, зато новые пользователи рады присоединиться к программе, потому что она очень эффективна!</p>
					<p class="text" data-localize="frs.text3">Именно поэтому, мы создали очень привлекательный план компенсаций и бонусов:</p><img class="img fourth-section__img" src="{% static 'img/compensationplan1_ru.jpg' %}"><img class="img fourth-section__img" src="{% static 'img/compensationplan2_ru.jpg' %}"><a class="telegram__link" href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link">Присоединитесь к нам уже сегодня</a>
				</section>
				<section class="fiveth-section">
					<h2 class="heading" data-localize="fvs.heading1">Опыт</h2>
					<p class="text" data-localize="fvs.text1">У нас более, чем четырнадцатилетний опыт анализа и торговли на фондовом рынке, 2 года тому назад мы полностью перешли на криптографический рынок.</p>
					<p class="text" data-localize="fvs.text2">Причиной этого НЕ являются деньги, но наше увлечение технологией Blockchain и готовность поделиться концепцией, с помощью которой можно создать лучший мир.</p>
					<p class="text" data-localize="fvs.text3">Деньги появились случайно, притом серьезные деньги.</p>
					<h2 class="heading" data-localize="fvs.heading2">Почему мы работаем с Ботом CAB Telegram?</h2>
					<p class="text" data-localize="fvs.text4">Сегодня каждый из нас ежедневно пользуется такими мессенджерами как WhatsApp или Telegram. Этот тренд будет расти в будущем.</p>
					<p class="text" data-localize="fvs.text5">Telegram использует роботы, которые уже очень зрелые, но использует также искусственный интеллект. Именно поэтому мы хотим продолжать этот тренд и постоянно совершенствовать нашего бота.</p>
					<p class="text" data-localize="fvs.text6">В прошлом мы научились тому, что успех также имеет свои недостатки. Мы являемся элитной группой, которая ценит неприкосновенность личной жизни и семейную жизнь. Мы знаем, что наша деятельность неудобна для некоторых людей, в особенности для самопровозглашенных трейдеров, которые продают бесполезные сигналы и курсы. Если вы присоединитесь к нашей группе, вы поймете почему.</p>
					<p class="text" data-localize="fvs.text7">Вы должны понять, что мы НЕ специалисты по маркетингу и не хотим обращать на себя внимание!</p>
					<p class="text" data-localize="fvs.text8">В последние месяцы, прежде чем мы завоевали (международный) рынок, мы тестировали систему Crypto Agent Bot с тестовой группой русскоязычных пользователей.</p>
					<p class="text" data-localize="fvs.text9">Результаты теста и отзывы пользователей были положительные, в общем, мы добились потрясающих результатов.</p>
					<p class="text" data-localize="fvs.text10">Еще никакая система не получила такой прибыли!</p>
					<ul class="fiveth-section__list">
						<li class="fiveth-section__item"><img class="fiveth-section__img" src="{% static 'img/companies/Y4vShR1.png' %}"></li>
						<li class="fiveth-section__item"><img class="fiveth-section__img" src="{% static 'img/companies/ISnzTEY.png' %}"></li>
						<li class="fiveth-section__item"><img class="fiveth-section__img" src="{% static 'img/companies/nz23uGm.png' %}"></li>
						<li class="fiveth-section__item"><img class="fiveth-section__img" src="{% static 'img/companies/Iq1gfkC.png' %}"></li>
					</ul>
					<h2 class="heading" data-localize="fvs.heading3">Как присоединиться к Crypto Agent Bot?</h2>
					<ol class="instruction__list">
						<li class="instruction__item"><span class="text" data-localize="fvs.text11">Установите приложение Telegram на свой смартфон (вы также можете пользоваться им на своем компьютере)</span></li>
						<li class="instruction__item"><span class="link" href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link">Присоединитесь к нам</span></li>
						<li class="instruction__item"><span class="text" data-localize="fvs.text12">Присоединитесь к группе и нажмите / старт</span></li>
						<li class="instruction__item"><span class="text" data-localize="fvs.text13">Когда вы уже в группе, нажмите «Присоединиться к группе или поделиться контактом», и вы увидите следующее:</span><img class="img instruction__img" src="{% 	static 'img/4a-1.png' %}"></li>
						<li class="instruction__item"><span class="text" data-localize="fvs.text14">Нажмите «Купить подписку», ("Purchase subscription", выберите пакет и отправьте сумму в биткойнах на данный кошелек).</span><img class="img instruction__img" src="{% static 'img/6-2.png' %}"></li>
						<li class="instruction__item"><span class="text" data-localize="fvs.text15">Вы получите сообщение в приложении Telegram, когда будет получена сумма, которую вы отправляете в биткойнах.</span><img class="img instruction__img" src="{% static 'img/7-2.png' %}"></li>
						<li class="instruction__item"><span class="text" data-localize="fvs.text16">Нажмите «Финансы (Finance)», затем «Платить за пакет (Pay for package)».</span><img class="img instruction__img" src="../img/8-2.pimgng"><img class="img instruction__img" src="{% static 'img/9-2.png' %}"></li>
						<li class="instruction__item"><span class="text" data-localize="fvs.text17">Поздравляем! Вы уже член группы и будете получать сигналы</span></li><a class="telegram__link" href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link">Присоединитесь к нам уже сегодня</a>
					</ol>
				</section>
				<section class="sixth-section">
					<p class="text" data-localize="sxs.text1">Кроме того, для вашего удобства мы предоставляем BitPoly, который является автоматом для выполнения ваших сделок. Вы не обязаны им пользоваться.</p>
					<p class="text" data-localize="sxs.text2">Помните! Все сделки могут вами осуществляться вручную на счету, но вы также можете воспользоваться BitPoly. Это легко.</p>
					<h3 class="heading" data-localize="sxs.heading1">Как установить «BitPoly»?</h3>
					<ol class="bitpoly__list">
						<li class="bitpoly__item"><span class="text" data-localize="sxs.text3">В приложении Telegram нажмите кнопку поиска и найдите контакт BitPolyBot: https://t.me/BitPolyBot</span>
							<p class="text" data-localize="sxs.text4">Внимание! Приложение доступно только членам нашей группы.</p>
						</li>
						<li class="bitpoly__item"><span class="text" data-localize="sxs.text5"> Присоединитесь к группе и нажмите / старт</span></li>
						<li class="bitpoly__item"><span class="text" data-localize="sxs.text6">Когда вы уже член группы, нажмите «Отправить мой контакт»</span></li>
						<li class="bitpoly__item"><span class="text" data-localize="sxs.text7">Внизу нажмите «Настройки (Settings)»</span><img class="img bitpoly__img" src="{% static 'img/10-2.png' %}"></li>
						<li class="bitpoly__item"><span class="text" data-localize="sxs.text8">Нажмите Bittrex или Poloniex в зависимости от того, каким обменником вы пользуетесь (вы можете использовать оба)</span><img class="img bitpoly__img" src="{% static 'img/11-2.png' %}"></li>
						<li class="bitpoly__item"><span class="text" data-localize="sxs.text9">Введите API-ключ и секретный ключ</span></li>
					</ol>
					<h3 class="heading" data-localize="sxs.heading2">Как получить API-ключ на Bittrex?</h3>
					<p class="text" data-localize="sxs.text10">Войдите в свой аккаунт Bittrex.</p><img class="img" src="{% static 'img/12-2.png' %}">
					<ol class="bittrex__list">
						<li class="bittrex__item"><span class="text" data-localize="sxs.text11">Нажмите «Установки»</span></li>
						<li class="bittrex__item"><span class="text" data-localize="sxs.text12">Затем нажмите «API-ключи»</span></li>
						<li class="bittrex__item"><span class="text" data-localize="sxs.text13">И «Добавить новый ключ»</span></li>
						<li class="bittrex__item"><span class="text" data-localize="sxs.text14">Включить параметры “READ INFO”, „TRADE LIMIT”, „TRADE MARKET”</span>
							<p class="text" data-localize="sxs.text15">ВНИМАНИЕ! Параметр „WITHDRAWAL” должен быть выключен – для обеспечения дополнительного уровня безопасности ваших средств</p>
						</li>
						<li class="bittrex__item"><span class="text" data-localize="sxs.text16">Введите код двухфакторной аутентификации (требуется двухэтапная аутентификация)</span></li>
						<li class="bittrex__item"><span class="text" data-localize="sxs.text17">Чтобы завершить процесс, нажмите «Обновить ключи»</span></li>
						<li class="bittrex__item"><span class="text" data-localize="sxs.text18">Скопируйте и вставьте 2 кода, то есть ключ (key) и секретный ключ (secret key) в BitPoly</span></li>
					</ol><a class="telegram__link" href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link">Присоединитесь к нам уже сегодня</a>
				</section>
				<section class="seventh-section">
					<p class="text" data-localize="svs.text1">Вот несколько примеров сообщений и сигналов покупки, которые вы получаете непосредственно в приложении Telegram</p><img class="img" src="{% static 'img/14-2.png' %}"><img class="img" src="{% static 'img/13-2.png' %}">
					<p class="text" data-localize="svs.text2">24 часа спустя</p><img class="img" src="{% static 'img/15-2.png' %}"><img class="img" src="{% static 'img/16-2.png' %}">
					<p class="text" data-localize="svs.text3">Цель была достигнута, подтверждение прибыли + сигнал покупки</p><img class="img" src="{% static 'img/17-2.png' %}">
					<p class="text" data-localize="svs.text4">Заказ на продажу на моем аккаунте Bittrex от BitBay, отправленный непосредственно в Telegram</p><img class="img" src="{% static 'img/18-2.png' %}">
					<p class="text" data-localize="svs.text5">Через 48 часов цель была достигнута</p><img class="img" src="{% static 'img/18a-2.png' %}">
					<p class="text" data-localize="svs.text6">Более 10 сигналов сегодня утром (10 сентября 2017 года) !!</p>
					<p class="text" data-localize="svs.text7">Торговля становится детской игрой</p><img class="img" src="{% static 'img/19-2.jpg' %}"><img class="img" src="{% static 'img/20-2.jpg' %}">
					<p class="text" data-localize="svs.text8">Обновление – сигналы с 5 по 9 ноября 2017 года.</p><img class="img" src="{% static 'img/22a-2.png' %}">
				</section>
			</div>
			<div class="back_to_top"><i class="fas fa-angle-up"></i></div>
		</main>
		<footer class="main-footer">
			<div class="flex-container">
				<p class="copyright">&copy2018 Crypto Agent Bot CAB Review : Cryptocurrency Trade Signals Group Telegram</p>
				<p class="powered-by">Powered by kitty-paws of Hikari</p>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="{% static 'locales/jquery.localize.min.js' %}"></script>
		<!-- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js')-->
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
