<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8">
		<title>Crypto Agent Bot: CAB - Crypto Agent Bot CAB Review: Cryptocurrency Trade Signals Group Telegram
		</title>
		<meta name="author" content>
		<meta name="description" content>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="images/x-icon" href="{% static 'img/Logo-little-spoon.png' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>
		<header class="main-header">
			<div class="flex-container">
				<nav class="main-menu">
					<ul class="main-menu__list">
						<li class="main-menu__item"><a class="main-menu__link" href="/">news</a></li>
						<li class="main-menu__item"><a class="main-menu__link" href="{% url 'mainPage:about' %}">About Us</a></li>
					</ul>
				</nav>
				<nav class="locale-wrapper">
					<ul class="locale__list">
						<li class="locale__item"><a class="locale__link" id="ru" title="Russian"><img class="locale__img" src="{% static 'img/locale/russian.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="en" title="English"><img class="locale__img" src="{% static  'img/locale/english.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="gb" title="German"><img class="locale__img" src="{% static 'img/locale/german.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="fr" title="French"><img class="locale__img" src="{% static 'img/locale/french.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="tur" title="Turkish"><img class="locale__img" src="{% static 'img/locale/turkish.png' %}"></a></li>
						<li class="locale__item"><a class="locale__link" id="po" title="Poland"><img class="locale__img" src="{% static 'img/locale/poland.png' %}"></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="maincontent">
			<div class="flex-container">
				<div class="news--wrapper">
          {% for news in news %}
  					<article class="news__card">
  						<div class="news__descr--wrapper">
  							       <h3 class="news__heading">{{ news.title }}</h3>
                       <span>{{ news.date }}</span>
  							       <p class="news__descr">{{ news.get_short_text }}...</p>
                       <a class="news__readmore" href="/news/{{ news.id }}">Readmore<span class="news__read">→</span></a>
  						</div>
  					</article>
          {% endfor %}
				</div>
			</div>
		</main>
		<footer class="main-footer">
			<div class="flex-container">
				<p class="copyright">&copy2018 Crypto Agent Bot CAB Review : Cryptocurrency Trade Signals Group Telegram</p>
				<p class="powered-by">Powered by kitty-paws of Hikari</p>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="{% static 'locales/jquery.localize.min.js' %}"></script>
		<!-- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js')-->
		<script src="{% static 'js/main.js' %}"></script>
	</body>
  </html>
